@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    outline:0 !important;
}

.lighter {font-weight: 100}
.light {font-weight: 300}
.regular {font-weight: 400}
.strong{ font-weight: 600; }
.strongest {font-weight: 900}

.color-white { color: white;}
.color-black, .color-black * { color: black;}
.color-yellow { color: yellow;}
.color-red, .color-red * {color: #c50000;}

.mt-none {margin-top: 0}
.mb-none {margin-bottom: 0}

.mb-xlg {margin-bottom: 2em}
.mt-xlg {margin-top: 2em}

.mt-lg {margin-top: 1em}
.mb-lg {margin-bottom: 1em}

.mt-md {margin-top: 0.6em}
.mb-md {margin-bottom: 0.6em}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.dashed-delimeter {
    border-top: dashed white 1px;
    display: block;
}

.fullheight {
    min-height: 100vh;
}

body {
    background: #c1bfbf;
}

#content {
    padding-top: 100px;
    background: url("/img/VillageImageBland.jpg") no-repeat;
    background-size: 100%;
    background-position: center bottom;
    background-color: #5dc1fd;
}

#preview {
    background: url("/img/stroyploshchadka_lopata.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

#preview-left-stripe, #preview-right-stripe, #footer-left-stripe, #footer-right-stripe {
    width: 50%;
    position: absolute;
    height: 165px;
    background: #5dc1fd;
    bottom: -90px;
}

#preview-left-stripe {
    left: 0;
    transform: skewY(7deg);
    box-shadow: -5px -5px 6px rgba(0,0,0,0.511);
}
#preview-right-stripe {
    right: 0;
    transform: skewY(-7deg);
    box-shadow: 5px -5px 6px rgba(0,0,0,0.511);
}

#footer-left-stripe, #footer-right-stripe {
    background: #483823;
    height: 125px;
    top: -61px;
}

#footer-left-stripe {
    left: 0;
    transform: skewY(7deg);
}

#footer-right-stripe {
    right: 0;
    transform: skewY(-7deg);
}

#header {
    color: white;
    background: rgba(0,0,0,0.8);
    box-shadow: 0 3px 16px rgba(0,0,0,0.46);
    z-index: 99;
    position: relative;
}
.services {
    margin-top: -70px;
    padding-bottom: 40px;
}
.services.items {
    margin-bottom: 100px;
}

.btn {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; ;
    -ms-transition: all 0.5s ease; ;
    -o-transition: all 0.5s ease; ;
    transition: all 0.5s ease; ;
}

.promo {
    background: rgba(0,0,0,0.66);
    padding: 25px 0;
    margin: 20px 0 10px 0;
}

#preview .promo {
    margin: 100px 0 10px 0;
    border: rgba(255, 255, 255, 0.62) solid 2px;
    border-radius: 9px;
    box-shadow: 0 5px 36px rgba(0,0,0,0.66);
}

#preview .promo .description {
    margin: 10px 20%;
}

.services__list {
    margin-top: 35px;
}

.services__list .item {
    background: rgba(0,0,0,.66);
    text-align: center;
    display: block;
    line-height: 3.2em;
    margin-right: -30px;
    border-right: silver solid 1px ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

.services__list .item.current,  .services__list .item:hover {
    background: rgba(0,0,0,0.86);
    border-color: transparent;
}

.services__list .item.current {
    color: #9ed9ea;
    padding-right: 15px;
    margin-left: -10px;
}

.services__list .item:hover {
    cursor: pointer;
}

.services__list .item p {
    margin: 0;
    text-align: right;
    margin-right: 14px;
    text-transform: uppercase;
    line-height: 1.5em;
    padding: 10px 0px;
}

.service__content {

    background: rgb(13, 27, 36);
    padding: 10px 35px 35px 35px;
    margin-right: 35px;
    min-height: 880px;

    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.service__content .item {
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
    padding-top: 1.5em;
}


#advantages {
    background: white;
    padding: 80px 0;
}

#foot {
    position: relative;
    background: url("/img/grass_PNG10865.png") repeat-x;
    background-position: bottom center;
    background-size: 1390px;
    background-color: #281f13;
}

footer  {
    background: #2b2b2b;
    padding-bottom: 25px;
}